body{
  background: #F3F5F7;
} 

*{
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.iconColorBlack *{
  color: #1A202C!important;
}

.colorBlue{
  color: #3EA1DB;
}

.title{
  font-size: 24px;
}

.subTitle{
  font-size: 24px;
}

.mainBg{
  height: 250px;
  background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%)!important;
}

.container{
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;
}

.d-flex{
  display: flex;
} 

.justify-content-between{
  justify-content: space-between;
} 

.align-items-center{
  align-items: center;
}

.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-70{
  margin-top: 70px;
}

.w-100{
  width: 100%;
}

#inputSearch input::placeholder{
  color: #fff;
  font-size: 18px;
  line-height: 65px;
}

#inputSearch{
  display: flex;
  align-items: center;

  height: 65px;
  padding: 20px;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}

#inputSearch input{
  margin-left: 20px;
  height: 100%;

  outline: none;
  border: none;
  background: transparent;
}

.list_blog {
  background: #fff;
  border-radius: 5px;

  margin-top: 30px;
}

.list_blog .list_blog_item > div{
  padding: 20px;
}

.list_blog .list_blog_item time{
  font-size: 16px!important;
}

.list_blog .list_blog_item h3{
  font-size: 26px;
  
  margin-top: 20px;
  margin-bottom: 8px;
}

.list_blog .list_blog_item p{
  line-height: 32px;
}

.list_blog h3, .list_blog p, .list_blog time{
  color: #1A202C!important;
}
