body{
  background-color: #333!important;
} 

*{
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  font-size: 24px;
}

.subTitle{
  font-size: 24px;
}

.mainBg{
  height: 250px;
  background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%)!important;
}

.container{
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;
}

.d-flex{
  display: flex;
} 

.justify-content-between{
  justify-content: space-between;
} 

.align-items-center{
  align-items: center;
}

.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-70{
  margin-top: 70px;
}

.w-100{
  width: 100%;
}

#inputSearch input::placeholder{
  color: #fff;
  font-size: 18px;
  line-height: 65px;
}

#inputSearch input{
  height: 65px;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}